/*Her legges fonten som skal brukes på siden inn, og gis et navn*/
@font-face{
  font-family: font1;
  src: url(font/PressStart2P.ttf);
}

/*setter størrelse på html og velger pil for siden*/
html{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Bakgrunnsbildet legges inn i body, slik at det gjelder for hele siden*/
body{
  background-image: url(bilde/bakgrunn.jpg);
}

/* Dette er kode for rammen på selve spillet*/
canvas{
  border:inset;
  border-width:10px;
}

/* Her blir overskriften stilsatt med plassering, font og farge*/
#overskrift{
  font-family: font1;
  font-size: 40px;
  color: #c0c0c0;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Definerer plassering til tekst i menyen*/
#menyDiv{
  text-align:center;
}

/*Mellomrom mellom overskrift og meny*/
#enSpiller{
  margin-top: 100px;
}

/*Kode for utseende på meny-knappene*/
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-family: font1;
  font-size: 14px;
  background: none;
  color: white;
  border: white;
  border-width: 1px;
  border-style: solid;
  margin-top: 30px;
  cursor: pointer;
}

/*Kode for når man har pila over knappene, slik at de endrer farge*/
button:hover {
	color: red;
  height: 70px;
  width: 230px;
  font-size: 16px;
}

/*Utseende på teksten til "Hvordan spille"*/
#instruksjonDiv{
  display:none;
  color: white;
  font-family: font1;
  margin-left: auto;
  margin-right: auto;
}

/*Plassering til instruksjoner til spiller 1*/
#spiller1{
  position: relative;
  left: 32%;
  top: 90px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

/*Plassering til instruksjoner til spiller 2*/
#spiller2{
  position: relative;
  right: 32%;
  top: 90px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

/*Plassering til instruksjoner for pause*/
#pause{
  position: relative;
  top: 250px;
}

/*Plassering til instruksjoner for å skru av musikk*/
#musikk{
  position: relative;
  top: 280px;
}

/*Plassering til instruksjoner for å skru av lydeffekter*/
#lyd{
  position: relative;
  top: 310px;
}

/*Plassering av tilbake-knappen på "Hvordan spille"*/
#instruksjonTilbakeMeny{
  position: relative;
  top: 350px;
}

/*Font og farge for instillinger*/
#innstillingDiv{
  display:none;
  font-family: font1;
  color: white;
  font-size: 14px;
}

/*Plassering og ramme for boks med fargevalg for spiller 1*/
#hoyre{
  width: 600px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: white;
  border-style: solid;
  border-width: 1px;
  margin-top: 50px;
}

/*Plassering av fargevalg av bakrunn til spiller 1*/
#hoyreBakgrunn{
  margin-top: 15px;
  margin-bottom: 7px;
}

/*Plassering av fargevalg av paddle til spiller 1*/
#hoyrePaddle{
  margin-bottom: 15px;
}

/*Plassering og ramme for boks med fargevalg for spiller 2*/
#venstre{
  width: 600px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: white;
  border-style: solid;
  border-width: 1px;
}

/*Plassering av fargevalg til bakgrunn for spiller 2*/
#venstreBakgrunn{
  margin-top: 15px;
  margin-bottom: 7px;
}

/*Plassering av fargevalg for paddle til spiller 2*/
#venstrePaddle{
  margin-bottom: 15px;
}

/*Plassering av dropdownboks med fargevalgene*/
.fargevalg{
  position: relative;
  left: 10px;
  height: 30px;
  width: 85px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
}

/*velger farge og størrelse på alle fargevalgene*/
option{
  color: black;
  font-size: 16px;
}

/*Bakgrunnsfarge til optionene*/
.redBane{
  background-color: rgba(255,51,51,0.7);
}
.blueBane{
  background-color: rgba(51,51,255,0.7);
}
.greenBane{
  background-color: rgba(51,255,51,0.7);
}
.purpleBane{
  background-color: rgba(115,57,172,0.7);
}
.spaceblueBane{
  background-color: rgba(96,71,235,0.7);
}
.spacegreyBane{
  background-color: rgba(119,136,153,0.7);
}

.redPaddle{
  background-color: #8B0000;
}
.bluePaddle{
  background-color: #00008B;
}
.greenPaddle{
  background-color: #008B00;
}
.purplePaddle{
  background-color: #402060;
}
.spacegreyPaddle{
  background-color: #374049;
}

#poengValg{
  width: 600px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  border: white;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  text-indent: 75px;
}

input.nummer{
  position: relative;
  left: 233px;
  height: 25px;
  width: 80px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
}

input.modusRadio{

}

#level{
  margin-bottom: -10px;
}

#sluttScore{
  margin-bottom: 0px;
}

#modusValg{
  width: 600px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  border: white;
  border-style: solid;
  border-width: 1px;
}

/*Plassering av tilbake-knapp*/
#innstillingTilbakeMeny{
  position: relative;
  top: 0px;
}

#muteKnapp{
  position:fixed !important;
  bottom: 20px !important;
  top: auto !important;
  left: 20px !important;
  right: auto !important;
  width: 125px !important;
  height: 50px !important;
}

#kreditDiv{
  display:none;
  color: white;
  font-family: font1;
  margin-left: auto;
  margin-right: auto;
}

#kreditKnapp{
  position:fixed !important;
  bottom: 20px !important;
  top: auto !important;
  left: 20px !important;
  right: auto !important;
  width: 125px !important;
  height: 30px !important;
}

/*Midtstilling av spillet*/
#spillDiv{
  text-align:center;
}

/*Styling av rulletekst*/
#fade{
  position:fixed;
  top: auto;
  bottom: 10px;
  right: auto;
  left: auto;
  text-align:center;
  min-width: 500px;
  margin-left: 400px;
}

ul {
	background:none;
	color:#fff;
	padding:10px 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
  -o-border-radius:10px;
	width:100px;
  line-height: 120%;
}

ul li {
	list-style:none;
	font-family:font1;
	font-size:11px;
  opacity: 1.0;
}
